.menubar-wrapper {
    z-index: 20;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 37px 0 27px;
    box-sizing: border-box;
}

.menubar-wrapper > .icon {
    /*border: solid 1px #969696;*/
    /*background: #d7d7d7;*/
    display: inline-block;
    vertical-align: middle;
    height: 50%;

}

.menubar-wrapper  .item {
    display: inline-block;
    vertical-align: middle;
    /*align-self: flex-end;*/
    margin: 0 20px 0 20px;
    color: #4a494a;
}

.menubar-wrapper  .border-item {
    display: inline-block;
    vertical-align: middle;
    border: solid 1px #969696;
    padding: 5px 10px 5px 10px;
    /*align-self: flex-end;*/
    margin: 0 20px 0 20px;
    color: #4a494a;
}