{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/menubar.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto:300" rel="stylesheet">
    <script src="https://use.fontawesome.com/22ced6a648.js"></script>

    {% block head %}
    {% endblock %}
</head>
<body>
    {% include "menubar.html" %}
    {% block body %}
    {% endblock %}
</body>
</html>